body {
    background-color: #F3F3D4;
}

.main-container {
    width: 976px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.container1 {
    width: 468px;
    height: 160px;
    margin: 10px;
    background-color: #92BB96;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.square {
    width: 78px;
    height: 78px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #F27070;
    border-radius: 4px;

}

.container2 {
    width: 468px;
    height: 160px;
    margin: 10px;
    background-color: #92BB96;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.square2 {
    width: 78px;
    height: 120px;
    margin: 10px;
    background-color: #F27070;
    border-radius: 4px;
}

.container3 {
    width: 468px;
    height: 160px;
    margin: 10px;
    background-color: #92BB96;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.square3 {
    width: 78px;
    height: 78px;
    margin-right: 20px;
    background-color: #F27070;
    border-radius: 4px;
}

.container4 {
    width: 468px;
    height: 160px;
    margin: 10px;
    background-color: #92BB96;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.square4 {
    width: 78px;
    height: 78px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #F27070;
    border-radius: 4px;
}

.square4-item {
    width: 78px;
    height: 78px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #F27070;
    border-radius: 4px;
    align-self: flex-end;
}

.container5 {
    width: 468px;
    height: 160px;
    margin: 10px;
    background-color: #92BB96;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.square5 {
    width: 78px;
    height: 120px;
    margin-left: 9px;
    background-color: #F27070;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.square5-item1 {
    height: 64px;
    width: 78px;
    background-color: #F27070;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.square5-item2 {
    height: 120px;
    width: 78px;
    margin-right: 9px;
    background-color: #F27070;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.container5 div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 19px;
}

.container6 {
    width: 468px;
    height: 160px;
    margin: 10px;
    background-color: #92BB96;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square6 {
    width: 78px;
    height: 78px;
    margin: 10px;
    background-color: #F27070;
    border-radius: 4px;
}

.square6-item {
    width: 156px;
    height: 78px;
    margin: 10px;
    background-color: #F27070;
    border-radius: 4px;
}